;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Sep 29 21:06:19 2011
;; Desktop file format version 206
;; Emacs version 23.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("find_posts" "first" "product_list" "show" "title" "category" "new" "cate" "create" "update" "edit" "new" "create" "access" "show" "category"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/articles/intro.html.erb"
  "intro.html.erb"
  'html-mode
  nil
  1
  '(315 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/layouts/application.html.erb"
  "application.html.erb"
  'html-mode
  nil
  3740
  '(3659 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/articles_controller.rb"
  "articles_controller.rb"
  'ruby-mode
  nil
  694
  '(163 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/show.js.erb"
  "show.js.erb"
  'java-mode
  '(abbrev-mode)
  95
  '(72 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/_detail.html.erb"
  "_detail.html.erb"
  'html-mode
  nil
  651
  '(651 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/_show.html.erb"
  "_show.html.erb"
  'html-mode
  nil
  174
  '(138 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/_product_list.html.erb"
  "_product_list.html.erb"
  'html-mode
  nil
  181
  '(174 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/_store.html.erb"
  "_store.html.erb"
  'html-mode
  nil
  510
  '(237 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/index.html.erb"
  "index.html.erb"
  'html-mode
  nil
  54
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/store_controller.rb"
  "store_controller.rb"
  'ruby-mode
  nil
  493
  '(457 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/show.html.erb"
  "show.html.erb<3>"
  'html-mode
  nil
  31
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/talks_controller.rb"
  "talks_controller.rb"
  'ruby-mode
  nil
  905
  '(1 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/assets/stylesheets/chakkomi.css"
  "chakkomi.css"
  'css-mode
  nil
  7864
  '(7086 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/layouts/shop.html.erb"
  "shop.html.erb"
  'html-mode
  nil
  1534
  '(2379 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/products_controller.rb"
  "products_controller.rb"
  'ruby-mode
  nil
  1633
  '(1118 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/categories_controller.rb"
  "categories_controller.rb"
  'ruby-mode
  nil
  401
  '(325 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "stylesheets"
  'dired-mode
  nil
  345
  '(nil nil)
  t
  '("/var/www/chakkomi/app/assets/stylesheets/")
  nil)

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/products/_form.html.erb"
  "_form.html.erb<4>"
  'html-mode
  nil
  990
  '(894 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/item_categories/_form.html.erb"
  "_form.html.erb"
  'html-mode
  nil
  760
  '(677 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110902155753_create_item_categories.rb"
  "20110902155753_create_item_categories.rb"
  'ruby-mode
  nil
  161
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/products/new.html.erb"
  "new.html.erb<4>"
  'html-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/models/item_category.rb"
  "item_category.rb"
  'ruby-mode
  nil
  152
  '(41 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/posts_controller.rb"
  "posts_controller.rb"
  'ruby-mode
  nil
  810
  '(764 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110929110715_add_attachment_thumnail_pic_to_item_category.rb"
  "20110929110715_add_attachment_thumnail_pic_to_item_category.rb"
  'ruby-mode
  nil
  597
  '(101 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/item_categories/new.html.erb"
  "new.html.erb<2>"
  'html-mode
  nil
  29
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110905153410_add_attachment_thumnail_pic_to_product.rb"
  "20110905153410_add_attachment_thumnail_pic_to_product.rb"
  'ruby-mode
  nil
  569
  '(67 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110902165753_create_products.rb"
  "20110902165753_create_products.rb"
  'ruby-mode
  nil
  292
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/models/product.rb"
  "product.rb"
  'ruby-mode
  nil
  457
  '(173 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/posts/_form.html.erb"
  "_form.html.erb<3>"
  'html-mode
  nil
  756
  '(712 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/posts/new.html.erb"
  "new.html.erb<3>"
  'html-mode
  nil
  41
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/models/post.rb"
  "post.rb"
  'ruby-mode
  nil
  117
  '(57 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/item_categories/index.html.erb"
  "index.html.erb<3>"
  'html-mode
  nil
  236
  '(443 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110901203812_create_posts.rb"
  "20110901203812_create_posts.rb"
  'ruby-mode
  nil
  207
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/item_categories_controller.rb"
  "item_categories_controller.rb"
  'ruby-mode
  nil
  449
  '(1058 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/categories/_form.html.erb"
  "_form.html.erb<2>"
  'html-mode
  nil
  545
  '(358 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/item_categories/show.html.erb"
  "show.html.erb<2>"
  'html-mode
  nil
  266
  '(154 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/admins/_admin_menu.html.erb"
  "_admin_menu.html.erb"
  'html-mode
  nil
  171
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/categories/new.html.erb"
  "new.html.erb"
  'html-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/categories/show.html.erb"
  "show.html.erb"
  'html-mode
  nil
  586
  '(141 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/categories/index.html.erb"
  "index.html.erb<2>"
  'html-mode
  nil
  166
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/models/category.rb"
  "category.rb"
  'ruby-mode
  nil
  115
  '(37 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/db/migrate/20110901203320_create_categories.rb"
  "20110901203320_create_categories.rb"
  'ruby-mode
  nil
  143
  '(177 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/store/index.js.erb"
  "index.js.erb"
  'java-mode
  '(abbrev-mode)
  563
  '(563 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/assets/javascripts/chakkomi.js.erb"
  "chakkomi.js.erb"
  'java-mode
  '(abbrev-mode)
  284
  '(778 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/talks/index.js.erb"
  "index.js.erb<2>"
  'fundamental-mode
  nil
  1502
  '(15 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/views/articles/intro.js.erb"
  "intro.js.erb"
  'fundamental-mode
  nil
  1
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/app/controllers/application_controller.rb"
  "application_controller.rb"
  'ruby-mode
  nil
  80
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/var/www/chakkomi/Gemfile"
  "Gemfile"
  'fundamental-mode
  nil
  527
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

