<div class="admin_menu">
<ul>
    <li><%= link_to "주문정보 보기", :orders %></li>
    <li><%= link_to "글 관리", :categories %></li>
    <li><%= link_to "상품 관리", :products %></li>
    <li><%= link_to" 회원 관리", :accounts %></li>
</ul>
</div>
