#layres
{
    float: left;
    background: #e3e4e8;
}
#layres .layreshdr
{
    float: left;
    width: 950px;
    overflow: hidden;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
    border-top: 1px solid #fff;
    padding: 10px 9px 0;
}
#layres .layreshdr .layresuser
{
    text-align: right;
}
#layres .layreshdr .layresuser ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
#layres .layreshdr .layresuser ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
#layres .layreshdr .layresuser li a 
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}
#layres .layreshdr .layresuser ul li.selected a
{
    color: #c81419;
}


#layres .layresmaj
{
    float: left;
    width: 968px;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
    background: #e3e4e6;

}
#layres .layrespri
{
    float: left;
    display: inline;
    width: 750px;
    overflow: hidden;
    margin: 10px 10px 0 9px;
}
#layres .layresside
{
    float: left;
    display: inline;
    width: 190px;
    overflow: hidden;
    margin: 10px 9px 0 0;
}

#layres .layresftr1
{
    clear: both;
    float: left;
    width: 968px;
    overflow: hidden;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
}