<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>새로운 토크가 생성되었습니다.</h1>
    <p>
      <%= @talk.user.name %> 님이 글을 남겼습니다.<br/>
      <%= @talk.content %><br/>
    </p>
  </body>
</html>