#flash
{
    float: right;
}
#cart
{
    width: 746px;
    border-left: 1px solid #00ffff;
    border-right: 1px solid #00ffff;
    border-top: 1px solid #00ffff;
    border-bottom: 1px solid #00ffff;
}
#cart .cart_total_line
{
    text-align: right;
}
#cart .line_item IMG
{
    width:80px;
    height:80px;    
}
#cart .line_item table
{
    text-align: center; 
    margin: 5px 5px 1px 5px; 
}
#cart .line_item .line_item_td
{
    padding:5px;
    width:85px;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
    border-top: 1px solid #fff;
}

#relay_relay .relay_relay_admin
{
    text-align: right;
}

#relay_relay .relay_relay_nobody
{
    text-align: left;
}
#layres
{
    float: left;
    background: #e3e4e8;
}
#layres .layreshdr
{
    float: left;
    width: 950px;
    overflow: hidden;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
    border-top: 1px solid #fff;
    padding: 10px 9px 0;
}
#layres .layreshdr .layresuser
{
    text-align: right;
}
#layres .layreshdr .layresuser ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
#layres .layreshdr .layresuser ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
#layres .layreshdr .layresuser li a 
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}
#layres .layreshdr .layresuser ul li.selected a
{
    color: #c81419;
}

#layres .layreshdr .layrestitle IMG
{
    width:950px;
    height:140px;    
}


#layres .layresmaj
{
    float: left;
    width: 968px;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #d1d6dc;
    background: #e3e4e6;

}

#layres .layresbar
{
    float: left;
    display: inline;
    width: 190px;
    overflow: hidden;
    margin: 10px 9px 0 0; 
    text-align: center;
}

#layres .layresbar .layresbarmenu
{
    
}

#layres .layresbody
{
    float: left;
    display: inline;
    width: 750px;
    overflow: hidden;
    margin: 10px 10px 0 9px;
}
#layres .layresbody .intro
{


}
#layres .layresbody .artmull hr
{
    border: 1px dashed #e0ffff;
}

#layres .layresbody .product_list
{
    border: 2px dashed #00ffff;
    width: 745px;
}

#layres .layresbody .product_list table
{
    text-align: center;
}
#layres .layresbody .product_list .entry IMG
{
    width:80px;
    height:90px;    
   
}
#layres .layresbody .product_list .entry
{

    padding:20px;
    width:85px;
    height:140px;
}

#layres .layresbody .product_detail
{

}



#layres .layresftr1
{
    clear: both;
    float: left;
    width: 968px;
    overflow: hidden;
    border-left: 1px solid #d1d6dc;
    border-right: 1px solid #c1d6dc;
}