/* 착곰이 CSS 
   개발자 : 임성묵
   수정한날짜 : 11.10.07
*/

/* intro */
#intro_image
{
    width:970px;
    height:970px;
    margin: 0 auto;
    text-align:left;
    background: white;
    background-image:url('/assets/intro_970x970.png');    
    background-repeat: no-repeat;
}
 #intro_shop
{
    position: absolute;
    top: 268px;
    left: 327px;
    width: 140px;
    height: 92px;
    text-align:center;
}
 #intro_home
{
    position: absolute;
    top: 199px;
    left: 647px;
    width: 77px;
    height: 103px;
    text-align:center;

}

 #intro_chakkomi
{
    position: absolute;
    top: 595px;
    left: 609px;
    width: 206px;
    height: 113px;
    text-align:center;

}
 #intro_fb
{
    position: absolute;
    top: 527px;
    left: 782px;
    width: 97px;
    height: 139px;
    text-align:center;


}
 #intro_twt
{
    position: absolute;
    top: 527px;
    left: 868px;
    width: 111px;
    height: 139px;
    text-align:center;

}
 #intro_wallpaper
{
    position: absolute;
    top: 527px;
    left: 962px;
    width: 112px;
    height: 139px;
    text-align:center;


}


/* 공통 레이아웃  */


/* 가장 바깥쪽부분. 크로스 브라우저 가운데 정렬을 위한 부분 */
#laydesk_outer{
    width:100%;
    height:100%;
    text-align:center;
}




/* 실질적인 문서 바깥구조. */
#laydesk
{
    width:970px;
    margin: 0 auto;
    text-align:left;
    background: white;
}


/* default 레이아웃 */
#laydesk_default
{
    width: 100%;
    height: 100%;

}
#laydesk_default_sidebar
{
    float: left;
    display: inline;
    width: 320px;
    height: 970px;
    overflow: hidden;
/*    margin: 0 20px 20px 25px;  */
    background-image:url('/assets/desktop_sidebar_background_220x970.png');
    background-repeat: no-repeat;
}
#laydesk_default_sidebar_logo
{
/*    text-align: center; */
    margin: 60px 0 0 30px;
}
#laydesk_default_sidebar_logo IMG
{
    width: 195px;
    height: 79px;

}

#laydesk_default_sidebar_menu
{
    margin: 40px 0 0 34px;
    height: 230px;
    text-align: left;
    font-family:  'Poly', Arial Narrow, Arial, Serif; 
    font-size: 16px;
    font-weight: bold;
}

#laydesk_default_sidebar_menu li 
{
   line-height:20.5px;
}
#laydesk_default_sidebar_menu a
{
    color: black;  
    text-decoration: none !important;
}
#laydesk_default_sidebar_menu a:hover
{
/*    background-color: #00a1ce;  */
    text-shadow: 4px 4px 4px #00a1ce; 
    text-decoration: none !important;
}
#laydesk_default_sidebar_link
{
    width: 190px;
    height: 330px;
    margin: 0 0 0 30px;
}
#laydesk_default_sidebar_ftr1
{
    overflow: hidden;
    margin: 0 0 0 32px;
}
#laydesk_default_sidebar_ftr1 IMG
{
    width:190px;
    height: 35px;
}

#laydesk_default_maj
{
    float: left;
    width: 650px;
    overflow: hidden;
    background: white;
}

#laydesk_default_maj_hdr
{
    float: left;
    width: 650px;
    overflow: hidden;
    padding: 0 0 0 ;

}

#laydesk_default_maj_hdr_user
{
    text-align: right;
}
#laydesk_default_maj_hdr_user ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
#laydesk_default_maj_hdr_user ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
#laydesk_default_maj_hdr_user li a
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}

#laydesk_default_maj_hdr_user ul li.selected a
{
    color: #c81419;
}

#laydesk_default_body
{
    width: 650px;

    float: left;
    display: inline;
    overflow: hidden;
    margin: 60px 0 0 0;
    font-family: 'NanumGothic';
    font-size: 11px; 
    line-height:20.5px;   
    font-weight: bold;
    color: #36d6e7;
}
#laydesk_default_body .title
{
   font-family: 'NanumGothic';
    font-size: 16px; 
    line-height:16px;   
    font-weight: bold;
    color:     #00a1ce;
}

.laydesk_body hr
{
    border: 1px solid #00a1cf;
}


/* default 레이아웃 구조 끝 */

/* Shop 구조  */

#laydesk_shop
{
    width: 100%;
    height: 100%;
}

#laydesk_shop_hdr
{
    float: left;
    width: 100%;
    height: 135px;
    overflow: hidden;
    padding: 0 0 0 ;
    margin: 0 0 0 0 ;
    background-image:url('/assets/desktop_sidebar_background_220x970.png');
    background-repeat: no-repeat;

}
#laydesk_shop_hdr_logo
{
    float: left;
    width: 400px;
    height: 135px;

}
#laydesk_shop_hdr_logo_root
{
    float: left;
    margin: 60px 0 0 30px;
    width: 195px;
    height: 79px;
}
#laydesk_shop_hdr_logo_root .goto_root
{
    width: 195px;
    height: 79px;
}
#laydesk_shop_hdr_logo_store
{
    float: left;
    margin: 50px 0 0 0;
    width: 130px;
    height: 90px;
}
#laydesk_shop_hdr_logo_store .goto_store
{
    width: 116px;
    height: 76px;

}
#laydesk_shop_hdr_menu
{ 
    float: left;
    margin: 15px 0 0 0;
    text-align: right;
}
#laydesk_shop_hdr_menu IMG
{
    width: 60px;
    height: 60px;
}
#laydesk_shop_hdr_menu ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
#laydesk_shop_hdr_menu ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}

#laydesk_shop_body
{
    margin-top: 30px;
    float: left;
    width: 100%;
}

/* Shop 구조 끝 */

/* #laydesk_default_body 내부 구조 */



/* #laydesk_default_body 내부 구조 끝 */

/* #laydesk_shop_body 공통 내부 구조 */

#laydesk_shop_body #body_title
{
    width: 100%;
    height: 50px;
}
#laydesk_shop_body #body_title .title_string
{
    font-size: 24px;
}
/* #laydesk_shop_body 공통 내부 구조 끝 */

/* app/view/store/_store.html.erb 즉, 카테고리 index 구조 */
#laydesk_shop_body #item_category_list
{
    width: 970px;
    margin-top: 10px;
/*    margin-left: 20px; */
}

#laydesk_shop_body #item_category_list table
{
    width: 100%;
    text-align: center;
}
#laydesk_shop_body #item_category_list .entry
{
    width:230px;
    height:200px; 
    text-align: center;
}
#laydesk_shop_body #item_category_list .entry IMG
{
    width:220px;
    height:180px;    
}
#laydesk_shop_body #item_category_list .entry span
{
    color: black;
}
/* app/view/store/_store.html.erb 즉, 카테고리 index 구조  끝*/

/* app/view/store/show.html.erb 즉, 제품 리스트 & 제품 디테일 구조  */
#laydesk_shop_body #show_product
{
    width: 100%;
    height: 800px;
    margin-top: 10px ;
}
#laydesk_shop_body #product_list_wrapper
{
    width: 201px;
    float: left;
}
#laydesk_shop_body #product_list_wrapper #product_list ul
{
    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
}

#laydesk_shop_body #product_list_wrapper #product_list ul li
{
    width: 200px;
    height: 110px;
    background: #FFFFFF;

}
#laydesk_shop_body #product_list_wrapper #product_list ul li .product_list_entry
{
    height:110px;

}
#laydesk_shop_body #product_list_wrapper #product_list ul li .product_list_entry IMG
{
    margin: 10px 10px 0 10px;
    width: 90px;
    height: 90px;
}
#laydesk_shop_body #product_list_wrapper #product_list ul #list_first
{
    background: #4f2f3f;
}
#laydesk_shop_body #product_list_wrapper #product_list ul li div:hover, #laydesk_shop_body #product_list_wrapper #product_list ul li div:focus:hover
{
    background: #010101;
}
#laydesk_shop_body #product_list_wrapper #product_list ul li a:hover,  #laydesk_shop_body #product_list_wrapper #product_list ul li a:focus:hover
{
    background: #010101;
}

#laydesk_shop_body #product_detail_wrapper
{
    width: 600px;
    margin: 0 0 10px 10px; 
    overflow: hidden;
    float: left;
}
#laydesk_shop_body #product_detail_wrapper #product_detail
{

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec
{
    height: 320px;
    overflow: hidden;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_thumnail
{
    float: left;
    overflow: hidden;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_thumnail .product_detail_thumnail_pic
{
    width: 200px;
    height: 200px;
    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
    border-left: 1px solid #d1d6dc;
    border-bottom: 1px solid #d1d6dc;

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec
{
    margin: 0 10px 20px 20px; 
    width: 310px;
    height: 300px;
    float: left;
    

    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
    border-left: 1px solid #d1d6dc;
    border-bottom: 1px solid #d1d6dc;

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table
{
    width: 70%;
    text-align: center;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table .spec_right
{
    text-align:center;
}

#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table .spec_right number
{
    width: 20px;
}

#laydesk_shop_body #product_detail_wrapper #product_detail #product_detail_content
{
    width: 100%;
    height: 100%;
    float: left;
}

/* app/view/store/show.html.erb 즉, 제품 리스트 & 제품 디테일 구조 끝 */

/* Shop 구조 끝 */

.laydesk_body .admin_menu ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
.laydesk_body .admin_menu ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
.laydesk_body .admin_menu li a 
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}
.laydesk_body .admin_menu ul li.selected a
{
    color: #c81419;
}

#deviseauth 
{ 
    background: #ffffff; 
    text-align: left; 
}

#deviseauth .box 
{ 
    border: 1px solid #74809a; 
    padding: 15px; margin-bottom: 25px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}

.relay_textarea { width: 600px; }
.defaultText { width: 300px; }
.defaultTextActive { color: #a1a1a1; font-style: italic; }


#loadingbar_move
{
    margin-top: 300px;
}

#loading
{
    text-align: center;
    margin-top: 300px;
}


#relay_relay .relay_relay_admin
{
    width:600px;
    float: right;
}
#relay_form 
{
    text-align: center;
}
.roundbox_green { background: url('/assets/roundbox/content_green.png') repeat; }

.rbtop_green div { background: url('/assets/roundbox/up_left_green.png') no-repeat top left; }
.rbtop_green { background: url('/assets/roundbox/up_right_green.png') no-repeat top right; }
.rbbot_green div { background: url('/assets/roundbox/bottom_left_green.png') no-repeat bottom left; }
.rbbot_green { background: url('/assets/roundbox/bottom_right_green.png') no-repeat bottom right; }
.relay_content { margin: 0 12px 0 0; }
/* height and width stuff, width not really nessisary. */
.rbtop_green div, .rbtop_green, .rbbot_green div, .rbbot_green {
    width: 100%;
    height: 8px;
    font-size: 1px;

}
.rbcontent_green { text-align:right; background: url('/assets/roundbox/center_right_write.png') repeat-y right center;}
.roundbox_green { float:right;width: 100% ; margin: 1em auto; display: inline_block;}
#relay_relay .relay_relay_nobody
{
    width:600px;
    float: left;
}
.roundbox_pink { background: url('/assets/roundbox/nt_pink.gif') repeat; }
.rbtop_pink div { background: url('/assets/roundbox/tl_pink.gif') no-repeat top left; }
.rbtop_pink { background: url('/assets/roundbox/tr_pink.gif') no-repeat top right; }
.rbbot_pink div { background: url('/assets/roundbox/bl_pink.gif') no-repeat bottom left; }
.rbbot_pink { background: url('/assets/roundbox/br_pink.gif') no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop_pink div, .rbtop_pink, .rbbot_pink div, .rbbot_pink {
    width: 100%;
    height: 7px;
    font-size: 1px;

}
.rbcontent_pink { margin: 0 7px; text-align:right;}
.roundbox_pink { float:left;width: 100% ; margin: 1em auto; display: inline_block;}


