/* 착곰이 CSS 
   개발자 : 임성묵
   수정한날짜 : 11.10.07
*/

/* intro */
#intro_image 
{
    width:970px;
    height:970px;
    margin: 0 auto;
    text-align:left;
    background: white;
    background-image:url('/assets/intro_970x970.png');    
    background-repeat: no-repeat;
}
#intro_image #intro_shop
{
    position: relative;
    top: 268px;
    left: 180px;
    width: 140px;
    height: 92px;
    text-align:center;
}
#intro_image #intro_home
{
    position: relative;
    top: 107px;
    left: 498px;
    width: 77px;
    height: 103px;
    text-align:center;

}

#intro_image #intro_chakkomi
{
    position: relative;
    top: 398px;
    left: 462px;
    width: 206px;
    height: 113px;
    text-align:center;

}
#intro_image #intro_fb
{
    position: relative;
    top: 210px;
    left: 629px;
    width: 97px;
    height: 139px;
    text-align:center;


}
#intro_image #intro_twt
{
    position: relative;
    top: 69px;
    left: 712px;
    width: 111px;
    height: 139px;
    text-align:center;

}
#intro_image #intro_wallpaper
{
    position: relative;
    top: -69px;
    left: 803px;
    width: 112px;
    height: 139px;
    text-align:center;
}

.goto_store
{
    background-color: white;
}


/* 공통 레이아웃  */


/* 가장 바깥쪽부분. 크로스 브라우저 가운데 정렬을 위한 부분 */
#laydesk_outer{
    width:100%;
    height:100%;
    text-align:center;
}




/* 실질적인 문서 바깥구조. */
#laydesk
{
    width:970px;
    margin: 0 auto;
    text-align:left;
    background: white;
}


/* default 레이아웃 */
#laydesk_default
{
    width: 100%;
    height: 100%;

}
#laydesk_default_sidebar
{
    float: left;
    display: inline;
    width: 320px;
    height: 970px;
    overflow: hidden;
/*    margin: 0 20px 20px 25px;  */
    background-image:url('/assets/desktop_sidebar_background_220x970.png');
    background-repeat: no-repeat;
}
#laydesk_default_sidebar_logo
{
/*    text-align: center; */
    margin: 60px 0 0 30px;
}
#laydesk_default_sidebar_logo IMG
{
    width: 195px;
    height: 70px;

}

#laydesk_default_sidebar_menu
{
    margin: 42px 0 0 32px;
    height: 230px;
    text-align: left;
    font-family:  'Francois One', Arial Narrow, Arial, sans-serif; 
    font-size: 16px;
/*    font-weight: bold; */
}

#laydesk_default_sidebar_menu li 
{
   line-height:20.5px;
}
#laydesk_default_sidebar_menu a
{
    color: black;  
    text-decoration: none !important;
}
#laydesk_default_sidebar_menu a:hover
{
    background-color: #00a1ce;  
/*    text-shadow: 4px 4px 4px #00a1ce;  */
    text-decoration: none !important;
}
#laydesk_default_sidebar_link
{
    width: 190px;
    height: 330px;
    margin: 0 0 0 30px;
}
#laydesk_default_sidebar_ftr1
{
    overflow: hidden;
    margin: 0 0 0 32px;
}
#laydesk_default_sidebar_ftr1 IMG
{
    width:190px;
    height: 35px;
}

#laydesk_default_maj
{
    float: left;
    width: 650px;
    overflow: hidden;
    background: white;
}

#laydesk_default_maj_hdr
{
    float: left;
    width: 650px;
    overflow: hidden;
    padding: 0 0 0 ;

}

#laydesk_default_maj_hdr_user
{
    text-align: right;
}
#laydesk_default_maj_hdr_user ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
#laydesk_default_maj_hdr_user ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
#laydesk_default_maj_hdr_user li a
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}

#laydesk_default_maj_hdr_user ul li.selected a
{
    color: #c81419;
}

#laydesk_default_body
{
    width: 650px;
    margin: 40px 0 0 0;
    float: left;
    display: inline;
    overflow: hidden;
    font-family: 'NanumGothic';
    font-size: 11px; 
    line-height:20.5px;   
    color: #6d6e71; 
}
#laydesk_default_body .content_title
{
    font-family: 'NanumGothic';
    font-size: 16px; 
    color:     #00a1ce;    
    font-weight: bold;
}
#laydesk_default_body #article_wrapper .article_title
{

}

#laydesk_default_body #article_wrapper .article_content
{
    margin: 20px 0 0 0;
}

.laydesk_body hr
{
    border: 1px solid #00a1cf;
}
#laydesk_default_body #chakkomi_wrapper
{
    margin: 140px 0 0 0;
}
#laydesk_default_body #article_wrapper
{

}
#laydesk_default_body #wallpaper_wrapper
{
    margin: 140px 0 0 0;
}
#laydesk_default_body #wallpaper_wrapper #wallpaper_title
{
    font-family: 'NanumGothic';
    font-size: 16px; 
    font-weight: bold;
    color:     #00a1ce;
}

#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category 
{
    margin: 40px 0 0 0;
    font-family: 'NanumGothic';
}
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_default a
{
    color: #c2c2c3;  text-decoration: none !important;
}
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_default a:visited { color: #c2c2c3;  }
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_default a:hover { color: #00a1ce;  }

#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_selected
{
    font-size: 11px; 
    font-weight: bold;
    color:     #6dde71;

}
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_selected a
{
    color: #6d6e71;  text-decoration: none !important;
}
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_selected a:visited { color: #6d6e71;  }
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category .year_category_selected a:hover { color: #36d6e7;  }

#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category ul
{
    padding: 0;
    margin: 0;
    list-style: none;
}
#laydesk_default_body #wallpaper_wrapper #wallpaper_year_category ul li
{
    padding: 0;
    margin: 0 20px 0 0;
    display: inline;
}

#laydesk_default_body #wallpaper_wrapper #wallpaper_month_list 
{
    text-align: left;
}

#laydesk_default_body #wallpaper_wrapper #wallpaper_month_list table
{
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 11px;
    font-weight: bold;

}
#laydesk_default_body #wallpaper_wrapper #wallpaper_month_list .wallpaper_each_month
{
    margin: 0 20px 0 0;
    height: 200px;

}

#laydesk_default_body #wallpaper_wrapper #wallpaper_month_list  IMG
{
    width: 115px;
    height: 90px;
/*    border: 1px solid #00a1cf; */
    
}

/* default 레이아웃 구조 끝 */

/* Shop 구조  */

#laydesk_shop
{
    width: 100%;
    height: 100%;
}

#laydesk_shop_hdr
{
    float: left;
    width: 100%;
    height: 113px;
    overflow: hidden;
    padding: 0 0 0 ;
    margin: 0 0 0 0 ;
/*    background-image:url('/assets/desktop_sidebar_background_220x970.png'); */
/*    background-repeat: no-repeat; */

}
#laydesk_shop_hdr_logo
{
    float: left;
    width: 400px;
    height: 113px;

}
#laydesk_shop_hdr_logo_root
{
    float: left;
    margin: 0 0 0 30px;
    width: 217px;
    height: 110px;
}
#laydesk_shop_hdr_logo_root .goto_root
{
    width: 217px;
    height: 110px;
}
#laydesk_shop_hdr_logo_store
{
    float: left;
    margin: 20px 0 0 15px;
    width: 85px;
    height: 92px;
}
#laydesk_shop_hdr_logo_store .goto_store
{
    width: 85px;
    height: 92px;

}
#laydesk_shop_hdr_menu
{ 
    float: right;
    margin: 45px 40px 0 0;
    text-align: right;
}
#laydesk_shop_hdr_menu IMG
{
    width: 42px;
    height: 45px;
}
#laydesk_shop_hdr_menu ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
    text-align: center;
}
#laydesk_shop_hdr_menu ul li
{
    padding: 0; 
    margin: 0 0 0 0;
    display: block; 
    float: left;
}
#laydesk_shop_hdr_menu ul li .shop_icon
{
    width: 55px;
    height: 60px;
}
#laydesk_shop_hdr_menu ul li .shop_icon .shop_menu_image
{
    width: 42px;
    height: 45px;
}

.laydesk_shop_hdr_hr
{
    border: 1px solid #00a1cf;
}
#laydesk_shop_body
{
    margin-top: 30px;
    float: left;
    width: 100%;
}

/* Shop 구조 끝 */

/* #laydesk_default_body 내부 구조 */



/* #laydesk_default_body 내부 구조 끝 */

/* #laydesk_shop_body 공통 내부 구조 */

#laydesk_shop_body #body_title
{
    width: 100%;
    height: 50px;
}
#laydesk_shop_body #body_title .title_string
{
    font-size: 24px;
}
/* #laydesk_shop_body 공통 내부 구조 끝 */

/* app/view/store/_store.html.erb 즉, 카테고리 index 구조 */
#laydesk_shop_body #item_category_list
{
    width: 970px;
    margin-top: 10px;
/*    margin-left: 20px; */
}

#laydesk_shop_body #item_category_list table
{
    width: 100%;
    text-align: center;
}
#laydesk_shop_body #item_category_list .entry
{
    width:230px;
    height:200px; 
    text-align: center;
}
#laydesk_shop_body #item_category_list .entry IMG
{
    width:220px;
    height:180px;    
}
#laydesk_shop_body #item_category_list .entry span
{
    color: black;
}
/* app/view/store/_store.html.erb 즉, 카테고리 index 구조  끝*/

/* app/view/store/show.html.erb 즉, 제품 리스트 & 제품 디테일 구조  */
#laydesk_shop_body #show_product
{
    width: 100%;
    height: 800px;
    margin-top: 10px ;
}
#laydesk_shop_body #product_list_wrapper
{
    width: 201px;
    float: left;
}
#laydesk_shop_body #product_list_wrapper #product_list ul
{
    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
}

#laydesk_shop_body #product_list_wrapper #product_list ul li
{
    width: 200px;
    height: 110px;
    background: #FFFFFF;

}
#laydesk_shop_body #product_list_wrapper #product_list ul li .product_list_entry
{
    height:110px;

}
#laydesk_shop_body #product_list_wrapper #product_list ul li .product_list_entry IMG
{
    margin: 10px 10px 0 10px;
    width: 90px;
    height: 90px;
}
#laydesk_shop_body #product_list_wrapper #product_list ul #list_first
{
    background: #4f2f3f;
}
#laydesk_shop_body #product_list_wrapper #product_list ul li div:hover, #laydesk_shop_body #product_list_wrapper #product_list ul li div:focus:hover
{
    background: #010101;
}
#laydesk_shop_body #product_list_wrapper #product_list ul li a:hover,  #laydesk_shop_body #product_list_wrapper #product_list ul li a:focus:hover
{
    background: #010101;
}

#laydesk_shop_body #product_detail_wrapper
{
    width: 600px;
    margin: 0 0 10px 10px; 
    overflow: hidden;
    float: left;
}
#laydesk_shop_body #product_detail_wrapper #product_detail
{

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec
{
    height: 320px;
    overflow: hidden;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_thumnail
{
    float: left;
    overflow: hidden;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_thumnail .product_detail_thumnail_pic
{
    width: 200px;
    height: 200px;
    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
    border-left: 1px solid #d1d6dc;
    border-bottom: 1px solid #d1d6dc;

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec
{
    margin: 0 10px 20px 20px; 
    width: 310px;
    height: 300px;
    float: left;
    

    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
    border-left: 1px solid #d1d6dc;
    border-bottom: 1px solid #d1d6dc;

}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table
{
    width: 70%;
    text-align: center;
}
#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table .spec_right
{
    text-align:center;
}

#laydesk_shop_body #product_detail_wrapper #product_detail #spec #product_detail_spec table .spec_right number
{
    width: 20px;
}

#laydesk_shop_body #product_detail_wrapper #product_detail #product_detail_content
{
    width: 100%;
    height: 100%;
    float: left;
}

/* app/view/store/show.html.erb 즉, 제품 리스트 & 제품 디테일 구조 끝 */


/* cart 구조 시작  */

#laydesk_shop_body #laydesk_shop_cart #box_out
{
    width: 100%;
    height: 80px;
    border-top: 2px solid #d1d6dc;    
    border-right: 2px solid #d1d6dc;
    border-left: 2px solid #d1d6dc;
    border-bottom: 2px solid #d1d6dc;

}
#laydesk_shop_body #laydesk_shop_cart #box_out #box_in
{

    margin: 3px 3px 3px 3px; 
    height: 71px;
    border-top: 1px solid #d1d6dc;    
    border-right: 1px solid #d1d6dc;
    border-left: 1px solid #d1d6dc;
    border-bottom: 1px solid #d1d6dc;
    font-family: 'NanumGothic';
}

#laydesk_shop_body #laydesk_shop_cart #box_in ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
    text-align: left;
}
#laydesk_shop_body #laydesk_shop_cart #box_in ul li
{
    padding: 0; 
    margin: 12px 0 0 30px;
    display: block; 
    float: left;
}
#laydesk_shop_body #laydesk_shop_cart #box_in .current_cart
{
    margin: 10px 0 0 30px;
}
#laydesk_shop_body #laydesk_shop_cart #box_in .current_cart .name
{
    margin: 10px 0 0 0 ;
    width: 130px;
    font-size: 29px;    
    font-weight: bold;
}
#laydesk_shop_body #laydesk_shop_cart #box_in .current_cart .name span
{
    border-bottom: 3px solid #00a1ce;
}

#laydesk_shop_body #laydesk_shop_cart #box_in .current_cart .number
{
    float: left;
    font-size: 20px;
    color: #00a1ce;
    vertical-align: super;
}
#laydesk_shop_body #laydesk_shop_cart #box_in .other_cart
{
    margin: 17px 0 0 30px;
}

#laydesk_shop_body #laydesk_shop_cart #box_in .other_cart .name
{
    margin: 10px 0 0 0 ;
    width: 90px;
    font-size: 20px;
    font-weight: bold;
    color: #afafaf;
}
#laydesk_shop_body #laydesk_shop_cart #box_in .other_cart .number
{
    float: left;
    font-size: 10px;
    color: #00a1ce;
    vertical-align: super;
}

#laydesk_shop_body #laydesk_shop_cart #box_in .arrow
{
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    color:     #00a1ce;
}

#laydesk_shop_body #laydesk_shop_cart #order_list
{
    margin: 40px 0 0 0;
}
#laydesk_shop_body #laydesk_shop_cart #order_list #order_list_title
{
    padding: 10px;
    font-family: 'NanumGothic';
    font-size: 16px;    
    font-weight: bold;
    color:     #00a1ce;
    border-bottom: 3px solid #529ec2;
}
#laydesk_shop_body #laydesk_shop_cart #order_list .line_item table
{
    width: 100%;
    border-bottom: 3px solid #e5e5e5;
    text-align: center;

}
#laydesk_shop_body #laydesk_shop_cart #order_list .line_item #table_menu
{
    height: 25px;
    background: #f2f2f2;
    text-align: center;
}

#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_check
{
    width: 10px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_thumb
{
    width: 190px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_name
{
    width: 300px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_price
{
    width: 113px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_count
{
    width: 100px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list table .cart_total_price
{
    width: 140px;
}
#laydesk_shop_body #laydesk_shop_cart #order_list #ps
{
    margin: 10px 0 0 0;
    height: 30px;
    font-size: 12px;
    color: #afafaf;
}

#laydesk_shop_body #laydesk_shop_cart #order_list #ps_left
{
    float: left;
}
#laydesk_shop_body #laydesk_shop_cart #order_list #ps_right
{
    float: right;
}

#laydesk_shop_body #laydesk_shop_cart #cart_total_line
{

    margin: 3px 0 0 0;
    border-top: 5px solid #d1d6dc;    
    border-right: 5px solid #d1d6dc;
    border-left: 5px solid #d1d6dc;
    border-bottom: 5px solid #d1d6dc;
    text-align: right;
    padding: 20px;    
}
#laydesk_shop_body #laydesk_shop_cart #cart_total_line .cart_total_line_title
{
    font-size: 25px;
    width: 160px;
}

#laydesk_shop_body #laydesk_shop_cart #cart_total_line .cart_total_cell
{
    width: 82%;
}
/* Shop 구조 끝 */

.laydesk_body .admin_menu ul
{
    padding: 0; 
    margin: 0; 
    list-style: none;
}
.laydesk_body .admin_menu ul li
{
    padding: 0; 
    margin: 0 20px 0 0; 
    display:inline;
}
.laydesk_body .admin_menu li a 
{
    width: 100px; 
    font-size: 11px; 
    text-align: center; 
    text-decoration: none;
}
.laydesk_body .admin_menu ul li.selected a
{
    color: #c81419;
}

#deviseauth 
{ 
    background: #ffffff; 
    text-align: left; 
}

#deviseauth .box 
{ 
    border: 1px solid #74809a; 
    padding: 15px; margin-bottom: 25px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
}



.relay_textarea { width: 600px; }
.defaultText { width: 300px; }
.defaultTextActive { color: #a1a1a1; font-style: italic; }


#loadingbar_move
{
    margin-top: 300px;
}

#loading
{
    text-align: center;
    margin-top: 300px;
}


#relay_form 
{
    text-align: center;
}

#talk_wrapper, #relay_wrapper
{
    width: 80%;
    height:698px;
    margin: 0 auto;
    font-family: 'NanumGothic';
    font-size: 11px;    
    font-weight: normal;
    color:     #6d6e71;

/*    background: url('/assets/talk_background_480x698.png') no-repeat ; */
}
.relay_relay_user
{
    width:360px;  
}
.relay_relay_admin
{
    width:100%; 
/*    float: right; */
/*    width: 350px; */
}


#talk_talk_wrapper a { color: #6d6e71;  text-decoration: none !important;}
#talk_talk_wrapper a:visited { color: #6d6e71;  }
#talk_talk_wrapper a:hover { color: #36d6e7;  }


.relay_admin_username { margin: 0 12px 0 0; color: black; float: right; font-weight: bold; line-height: 13px;}
.relay_admin_timeago { margin: 0 12px 0 0; color: #afafaf; float: right; font-weight: lighter; font-size: 8px; line-height: 13px;}
.relay_admin_round { background: #bfe4dc; }
.relay_admin_round { float:right;width: 100% ;  }
.relay_admin_tl { background: url('/assets/roundbox/talk_admin_tl_10x10.jpg') no-repeat top left; }
.relay_admin_tr { background: url('/assets/roundbox/talk_admin_tr_20x10.jpg') no-repeat top right; }
.relay_admin_bl { background: url('/assets/roundbox/talk_admin_bl_10x10.jpg') no-repeat bottom left; }
.relay_admin_br { background: url('/assets/roundbox/talk_admin_br_20x10.jpg') no-repeat bottom right; }
.relay_admin_cr { background: url('/assets/roundbox/talk_cr_10x10.jpg') repeat-y right center;}
.relay_admin_content {  text-align: right; margin: 0 12px 0 10px;padding: 3px; width:340px; }
.relay_admin_content pre
{
    line-height: 16px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}

/* height and width stuff, width not really nessisary. */
.relay_admin_tl, .relay_admin_tr, .relay_admin_bl , .relay_admin_br {
    width: 100%;
    height: 8px;

}
.relay_user_username { margin: 0 0 0 12px;color: black; float: left; font-weight: bold; line-height: 13px;}
.relay_user_timeago { margin: 0 0 0 12px; color: #afafaf; float: left; font-weight: lighter; font-size: 8px;line-height: 13px;}
.relay_user_round { background: #d3d746; }
.relay_user_round { float:left;width: 100% ;}
.relay_user_tl { background: url('/assets/roundbox/talk_user_tl_20x10.jpg') no-repeat top left; }
.relay_user_tr { background: url('/assets/roundbox/talk_user_tr_10x10.jpg') no-repeat top right; }
.relay_user_bl { background: url('/assets/roundbox/talk_user_bl_20x10.jpg') no-repeat bottom left; }
.relay_user_br { background: url('/assets/roundbox/talk_user_br_10x10.jpg') no-repeat bottom right; }
.relay_user_cr { text-align:right; background: url('/assets/roundbox/talk_cr_10x10.jpg') repeat-y left center;}
.relay_user_content { text-align: left; margin: 0 0 0 12px;padding: 3px; width:340px;}
.relay_user_content pre
{
    line-height: 16px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}


/* height and width stuff, width not really nessisary. */
.relay_user_tl, .relay_user_tr, .relay_user_bl , .relay_user_br {
    width: 100%;
    height: 8px;
}



