<p><%= @resource.email %>님 안녕하세요!</p>

<p>패스워드 변경은 아래의 링크 클릭을 통해 가능합니다.</p>

<p><%= link_to '내 비밀번호 변경하기', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>만약 요청하지 않았으면 이 이메일은 무시해주십시오.</p>
