<div id="product_list">
  <ul id="product_list_ul">
    <% @products.each_with_index do |product, index| %>
    <% if index == 0 %>
    <li id="list_first" class="product_<%= product.id %>">
     <% else %>
     <li class="product_<%= product.id %>">
<% end %>
<%= link_to({:controller=>"store", :action => 'show', :id => @item_category.id, :product_id => product.id}, {:remote => true})  do %>
      <div class="product_list_entry">
      <%= image_tag(product.thumnail_pic.url(:thumb)) %>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $("#list_first").css("background", "#4f2f3f");

</script>
