<div class="laydesk_shop_main_title">
  <span class="laydesk_shop_main_title_string"><%= @item_category.name %></span><br /><hr />
</div>
<div id="show_product">
  <div id="product_list_wrapper">
    <%= render('product_list') %>
  </div>
  <div id="product_detail_wrapper">
    <%= render('detail') %>
  </div>
</div>
