<div id="laydesk_shop_main_title">
  <span class="laydesk_shop_main_title_string">리스트</span><br /><hr />
</div>
<div class="item_category_list">
  <table>
    <% @item_categories.each_with_index do |item_category, index| %>
    <% if (index % 4) == 0 %>
    <tr>
	<% end %>
	<td>
	  <div class="entry" >
	    <%= link_to image_tag(item_category.thumnail_pic.url(:thumb)), {:controller=>"store", :action => 'show', :id=>item_category}, {:title =>  item_category.name, :remote => true } %><br />
	  </div>
	</td>
	<% if (index % 4) == 3 %>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
