<script type="text/javascript">
$(function(){

	$('#laydesk_shop_body').fadeOut('slow', function(){
		$('#laydesk_shop_body').html('<%= escape_javascript(render('store')) %>').fadeIn('slow');
	$(".entry a").hover(function(){
                $(this).children('IMG').css('width', '140px');
                $(this).children('IMG').css('height', '140px');
		$(this).append($("<span><br />" + $(this)[0].title + "</span>"));
	    },
	    function() {
	        $(this).children('IMG').css('width', '120px');
		$(this).children('IMG').css('height', '120px');
		$(this).find("span:last").remove();
	    }
	    );
	$(".shop_item_category").click(function(e){
		History.pushState(null, document.title, this.href);
                return false;
	    });
    });
});

</script>
<noscript>
<%= render('store') %>
</noscript>
