<div id="admin_wrapper">
<%= render :partial => "/admins/admin_menu" %>

<h1>유저목록</h1>
<table  id="admin_order_table" class="admin_table">
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, :controller=>"accounts", :action=>"show", :id => user.id %></td>
    <td><%= link_to '수정', :controller=>"accounts", :action=>"edit", :id => user.id %></td>
  </tr>
<% end %>
</table>
</div>
